<h1 class="display-4 text-center mt-4" id="homeHeading">
  Welcome To Home Page
</h1>
<p class="text-center text-muted mt-4" id="homePagePara">
  This is a simple MEAN app CRUD application project with FORM VALIDATION and full RESPONSIVE Design. I used Routing, FormControl, FormGroup, ngModel, Validators, ReactiveFormsModule and Structural Directives like *ngIf and *ngFor and also FlashMessages. I also use MatDialogModule here for dialog box and Ngx-Pagination Module for Pagination. For the back-end, I used EXPRESS Framework with MONGOOSE. At the end their is also a image upload section. You can set your profile image, for that i use MULTER. 
</p>

