      <div class="rounded">
        <h5 class="h5">
          <span><i class="fas fa-exclamation-circle text-danger"></i></span>
          Delete Confirmation
        </h5>
      </div>

      <hr>

      <div class="">
        <p class="pl-4">Are you sure want to delete this user ? </p>
      </div>

      <div class="text-right">
        <button type="button" class="btn btn-primary dialogBtnStyle" (click)="onCloseConfirm()">Confirm</button>
        <button type="button" class="btn btn-secondary dialogBtnStyle ml-2" (click)="onCloseCancel()">Close</button>
      </div>
    
