<div class="container">
  <h1 class="h1 text-center mt-4" id="sectionHead">Add User</h1>

  <div id="addUserForm" class="p-4 mx-auto" @fadeIn>
    <form [formGroup]="addUserForm" (ngSubmit)="addUser()">
    <div class="form-group row">
      <label for="name" class="col-sm-12 control-label">Name</label>
      <div class="col-sm-12">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-user"></i></span>
          </div>  
          <input type="text" class="form-control form-control-sm" name="name" formControlName="name" id="name"  placeholder="Enter your Name"/>
        </div>

        <div class="p-0 m-0 val-error text-danger" *ngIf="name.errors && name.touched">
          <p *ngIf="name.errors.required" class="ml-2 mb-0 pt-1 pb-0"><span><i class="fas fa-exclamation-triangle"></i></span> Name is required.</p>
          <p *ngIf="name.errors.minlength" class="ml-2 mb-0 pt-1 pb-0"><span><i class="fas fa-exclamation-triangle"></i></span> Name must be 5 characters long.</p>
          <p *ngIf="name.errors.maxlength" class="ml-2 mb-0 pt-1 pb-0"><span><i class="fas fa-exclamation-triangle"></i></span> Name must be with in 60 characters.</p>
        </div>
      </div>
    </div>



      <div class="form-group row">
        <label for="email" class="col-sm-12 control-label">Email</label>
        <div class="col-sm-12">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-envelope"></i></span>
            </div>  
            <input type="email" class="form-control form-control-sm" name="email" formControlName="email" id="email"  placeholder="Enter your Email"/>
          </div>

          <div class="p-0 m-0 val-error text-danger" *ngIf="email.errors && email.touched">
            <p *ngIf="email.errors.required" class="ml-2 mb-0 pt-1 pb-0"><span><i class="fas fa-exclamation-triangle"></i></span> Email is required.</p>
            <p *ngIf="email.errors.email" class="ml-2 mb-0 pt-1 pb-0"><span><i class="fas fa-exclamation-triangle"></i></span> Not a valid email.</p>
          </div>
        </div>
      </div>

        <div class="form-group row">
          <label for="dob" class="col-sm-12 control-label">DOB</label>
          <div class="col-sm-12">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fas fa-child"></i></span>
              </div>  
              <input type="date" class="form-control form-control-sm" name="dob" formControlName="dob" id="dob"  placeholder="Enter your DOB"/>
            </div>

            <div class="p-0 m-0 val-error text-danger" *ngIf="dob.errors && dob.touched">
              <p *ngIf="dob.errors.required" class="ml-2 mb-0 pt-1 pb-0"><span><i class="fas fa-exclamation-triangle"></i></span> This field is required.</p>
            </div>
          </div>
        </div>

        <div class="form-group row">
            <label for="phone" class="col-sm-12 control-label">Phone No</label>
            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-phone"></i></span>
                </div>  
                <input type="text" class="form-control form-control-sm" name="phone" formControlName="phone" id="phone" placeholder="Enter your Phone No" (change)="genOnlyNum($event)"/>
              </div>

              <div class="p-0 m-0 val-error text-danger" *ngIf="phone.errors && phone.touched">
                <p *ngIf="phone.errors.required" class="ml-2 mb-0 pt-1 pb-0"><span><i class="fas fa-exclamation-triangle"></i></span> Phone is required.</p>
                <p *ngIf="phone.errors.pattern" class="ml-2 mb-0 pt-1 pb-0"><span><i class="fas fa-exclamation-triangle"></i></span> Not a Valid number.</p>
                <p *ngIf="phone.errors.minlength" class="ml-2 mb-0 pt-1 pb-0"><span><i class="fas fa-exclamation-triangle"></i></span> Phone must be 10 characters long.</p>
                <p *ngIf="phone.errors.maxlength" class="ml-2 mb-0 pt-1 pb-0"><span><i class="fas fa-exclamation-triangle"></i></span> Phone must be with in 15 characters.</p>
              </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="city" class="col-sm-12 control-label">City</label>
            <div class="col-sm-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fab fa-houzz"></i></span>
                </div>  
                <input type="text" class="form-control form-control-sm" name="city" formControlName="city" id="city"  placeholder="Enter your City"/>
              </div>

              <div class="p-0 m-0 val-error text-danger" *ngIf="city.errors && city.touched">
                <p *ngIf="city.errors.required" class="ml-2 mb-0 pt-1 pb-0"><span><i class="fas fa-exclamation-triangle"></i></span> City is required.</p>
                <p *ngIf="city.errors.minlength" class="ml-2 mb-0 pt-1 pb-0"><span><i class="fas fa-exclamation-triangle"></i></span> City must be 2 characters long.</p>
                <p *ngIf="city.errors.maxlength" class="ml-2 mb-0 pt-1 pb-0"><span><i class="fas fa-exclamation-triangle"></i></span> City must be with in 40 characters.</p>
              </div>
            </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-12 mt-3">              
            <input type="submit" class="btn btn-block btn-info" value="ADD" [disabled]="!addUserForm.valid"/>  
          </div>
        </div>
      </form>
  </div>

</div>
