<div class="container"> <br />
  <div class="row">

    <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading"><strong>Upload files</strong> <small> </small></div>

      <div class="panel-body">
        <form (ngSubmit)="onUpload($event)">
        <div class="input-group image-preview">
          
          <input 
            type="fileName" 
            class="form-control image-preview-filename"
            [(ngModel)]="fileName" 
            [ngModelOptions]="{standalone: true}"
            disabled="disabled"
          >
          <!-- don't give a name === doesn't send on POST/GET --> 
          <span class="input-group-btn"> 
            <!-- image-preview-clear button -->
            <button type="button" (click)="reset()" class="btn btn-default image-preview-clear" *ngIf="fileName"> <span class="glyphicon glyphicon-remove"></span> Clear </button>
            <!-- image-preview-input -->
            
            <div class="btn btn-default image-preview-input"> 
              <span class="glyphicon glyphicon-folder-open"></span> 
              <span class="image-preview-input-title">Browse</span>

              <input type="file" name="uploadedProfilePic" (change)="onFileSelected($event)"/>
              <!-- rename it --> 
            </div>

            <button type="submit" class="btn btn-labeled btn-primary"> 
              <span class="btn-label">
                <i class="glyphicon glyphicon-upload"></i> 
              </span>Upload
            </button>          
          </span>         
        </div>
      </form>
          <!-- /input-group image-preview [TO HERE]--> 
        
        <br />
        
        <!-- Drop Zone -->
        <div class="upload-drop-zone" id="drop-zone"> Or drag and drop files here </div>
        <br />
        <!-- Progress Bar -->
        <div class="progress">
          <div class="progress-bar" role="progressbar" [attr.aria-valuenow]="progressBarValue" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': progressBarValue+'%'}">
          </div>
        </div>
        <br />

      </div>
    </div>
  </div>
      
      
      
</div>
</div>
